@use '../../base/variables' as v;
@use '../../base/mixins' as m;
@use '../../base/global';

// Call
.call {

    position: relative;
    height: 50rem;
    background-image: url('../img/hero.webp');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    &-overlay {
        @extend .overlay;
        // position: absolute;
        // top: 0;
        // left: 0;
        // right: 0;
        // bottom: 0;
        // background-color: rgba(0, 0, 0, 0.5);
    }

    &-content {
        text-align: center;
        padding: 3rem;
        z-index: 1;
    }
}

// End call