@use '../../base/variables' as v;
@use '../../base/mixins' as m;
@use '../../base/global';

// FQA
.fqa {
    .card {
        border: none;
        width: 100%;
        margin: 0 auto;

        @include m.breakpoint-up(md) {
            width: 80%;
        }
    }
}

// End FQA