@use '../base/variables' as v;
@use '../base/mixins' as m;


// Services
.services {

    .services-content-cards {

        .card {
            width: 100%;
            height: 21.875rem;
            border-radius: 20px;
            overflow: hidden;
            // border: 8px solid #fff;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                z-index: 2;
            }

            .card-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 15px;
            }

            .card-body {
                width: 100%;
                height: 100%;
                top: 0;
                right: 0;
                // right: -100%;
                position: absolute;
                // background: #1f3d4738;
                // backdrop-filter: blur(7px);
                border-radius: 15px;
                color: v.$white;
                padding: 2rem 1.5rem 1.5rem 1.5rem;
                // padding: 30px;
                display: flex;
                // flex-direction: row;
                flex-direction: column;
                // flex-wrap: wrap;
                // align-content: stretch;
                // align-items: start;
                // justify-content: space-around;
                justify-content: space-between;
                transition: .5s;
                z-index: 2;


                .card-title {
                    text-transform: uppercase;
                    margin: 0;
                    font-size: 1.5em;
                    font-weight: 500;
                    height: 3.5rem;
                    overflow: hidden;
                    flex-grow: 0;
                    // align-self: center;
                }

                .card-info {
                    font-size: 1.1em;
                    line-height: 1.7rem;
                    font-weight: 400;
                    flex-grow: 1;

                    p {
                        margin-top: 1rem;
                    }
                }
            }

            .card-button {
                // flex: 1;
                flex-grow: 0;
                align-self: flex-start;
                width: auto;
            }
        }


    }
}

// End services



// Service

.service {


    overflow: hidden;


    .service-content {

        // display: grid;
        // grid-template-rows: repeat(2, 1fr);
        // place-items: center;
        // gap: 1.5rem;

        // @include m.breakpoint-up(lg) {
        //     grid-template-rows: unset;
        //     grid-template-columns: repeat(2, 1fr);
        //     gap: 3rem;
        // }


        // &-description {

        //     grid-row: 2 / 3;

        //     @include m.breakpoint-up(lg) {
        //         grid-row: unset;
        //     }

        // }

        &-image {
            border: 1px solid v.$secondary-color;
            border-radius: .5rem;
            min-height: 100%;
            object-fit: cover;

        }

    }
}

.benefits {
    overflow: hidden;

    .content-benefits {
        .list-benefits {

            width: 100%;

            @include m.breakpoint-up(lg) {
                width: 80%;
                margin: 0 auto;
            }

            .list-grid {

                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 2rem;
                padding: 0.5rem;

                .list-benefits-item {
                    margin: 0;
                }

                .bi {
                    font-size: 3rem;
                    color: v.$secondary-color;
                }
            }

        }
    }


}


.service-card {
    padding: 35px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.item1 {
    background-image: url(./../img/service5.jpg);
}

.item2 {
    background-image: url(./../img/service4.jpg);
}

.item3 {
    background-image: url(./../img/service7.jpg);
}

.item4 {
    background-image: url(./../img/service2.jpg);
}

.item5 {
    background-image: url(./../img/service6.jpg);
}

.item6 {
    background-image: url(./../img/service1.jpg);
}

/* Imagen de fondo específica por servicio */
// .service-card:nth-child(1) {
//     background-image: url(./../img/service5.jpg);

// }

// .service-card:nth-child(2) {
//     background-image: url(./../img/service2.jpg);
// }

// .service-card:nth-child(3) {
//     background-image: url(./../img/service3.jpg);
// }


/* Capa de opacidad */
.service-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

/* Borde interno */
.service-card::after {
    content: '';
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    border: 1px solid v.$secondary-color;
    /* Línea del borde */
    z-index: 2;
    pointer-events: none;
}

/* Texto */
.service-title {
    position: relative;
    color: lighten(v.$secondary-color, .2%);
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 3;
}