$primary-color: #1C1C1C;
$secondary-color: rgb(212, 175, 55);
$tertiary-color: #333333;
$accent-color: #E9ECEF;

$white: #FFFFFF;
$black: #000000;
$grey: #333333;
$grey-light: #F4F4F4;


// FONTS
$font-secondary: 'Open Sans', sans-serif;
$font-primary: 'Merriweather', serif;
// $font-secondary: 'Open Sans', sans-serif;
// $font-primary: 'Playfair Display', serif;

// BREAKPOINTS
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;